langchain==0.3.25
langchain-groq==0.3.2
selenium==4.33.0
webdriver_manager==4.0.2
langchain_huggingface==0.2.0
langchain_community==0.3.24
faiss-cpu==1.11.0
fastapi==0.115.12
uvicorn==0.34.3
streamlit==1.45.1
python-multipart==0.0.20
pypdf==5.6.0
PyPDF2==3.0.1
diskcache==5.6.3
python-dotenv==1.1.0
plotly==6.1.2
google-generativeai==0.8.5
matplotlib==3.10.3
seaborn==0.13.2